html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.hero-banner {
  width: 100%;
  height: clamp(15vh, 20vw, 45vh);
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.hero-banner img {
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0;
}

.project {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 4rem;
  align-items: start;
  margin: 3.875rem 0 5rem;
  border-bottom: solid 2px #B17F4B;
  padding-bottom: 5rem;
  position: relative;
}

.test-credential-wrapper {
  background-color: #7f1a3723;
  padding: 1rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.view-button:hover {
  background-color: #085538;
  transition: 0.2s ease-in;
}

.project-info h1 {
  margin: 0;
}

.project-info a {
  margin: 0;
}

.project-stats {
  padding: 2rem;
  margin-top: 1.5rem;
}

.project-overview {
  margin: 5rem 0 5rem;
  padding: 0 5rem 0 0;
}

.project-process-wrapper {
  background-color: #c7bfb358;

  width: 100vw;
  margin-left: calc(50% - 50vw);

  padding: 3rem 0 3rem;
  margin-bottom: 5rem;
}

.project-process {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 4rem;
  align-items: start;
}

.challenges {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 4rem;
  align-items: start;
  margin: 3.875rem 0 5rem;
  border-bottom: solid 2px #B17F4B;
  padding-bottom: 5rem;
}

.learnings {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 4rem;
  align-items: start;
  margin: 3.875rem 0 12rem;
  border-bottom: solid 2px #B17F4B;
  padding-bottom: 5rem;
}



.learnings ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.learnings li {
  padding-bottom: 0.5rem;
  font-weight: 300;
}

img {
  display: block;
  width: 100%;
  height: auto;
  border-radius: 0.25rem;
}



/* XS Screens - Mobile */

@media (max-width: 990px) {
  .project {
    grid-template-columns: 1fr;
    gap: 0rem;
    margin-bottom: 1rem;
    padding: 0 1rem 1rem 1rem;
  }
  .project-stats {
    padding: 0;
  }
  .project-overview {
    padding-right: 0;
    margin: 2rem 0 2rem;
    padding: 1rem;
  }
  .project-process-wrapper {
    margin-bottom: 0;
  }
  .challenges, .learnings {
    margin: 2rem 0 2rem;
  }

  .project-process, .challenges, .learnings, .content-process {
    grid-template-columns: 1fr;
    padding: 0 1rem 2rem 1rem;
  }
  .project-info a {
    margin-top: 1rem;
  }
  .learnings {
    padding-bottom: 1rem;
  }
  .content-process p {
    padding: 0 0;
  }
  h4 {
    padding: 0;
  }
}

/* Medium Screens */
/* @media (min-width: 776px) {
  .project-overview {
    padding-right: 0;
  }
} */

/* Large Screens */

@media (min-width: 992px) {
  .learnings, .challenges, .project-process, .project-info, .project-stats, .project-overview {
    font-size: 1.1rem;
  }

}

/* XL Screens */

@media (min-width: 1200px) {
  .learnings, .challenges, .project-process, .project-info, .project-stats, .project-overview {
    font-size: 1.15rem;
  }
}

/* XXL Screens */

@media (min-width: 1400px) {
  .learnings, .challenges, .project-process, .project-info, .project-stats, .project-overview {
    font-size: 1.2rem;
  }
  a {
    font-size: 1rem;
  }
}
